body {
    display: block;
    text-align: center;
}
#counterLabel {
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}

.btnContainer {
    flex-direction: row;

}

button {
    padding: 10px 20px;
    margin: 2px;
    font-size: 20px;
    border-radius: 10px;
    border: 0cap;
    background-color: grey;
    color: white;
    
}