@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background: rgb(241, 241, 241);
}

form {
    font-family: 'Poppins';
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

h1{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}


div {
    text-align: center;
}

.temp1 {
    margin-top: 10px;
    font-size: 20px;
}

.temp2 {
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    background-color: rgb(226, 226, 226);
    border: 0;
    font-size: 30px;
    padding: 8px 10px;
    border-radius: 7px;
}

button {
    font-family: 'Poppins';
    font-size: 24px;
    border-radius: 5px;
    padding: 10px;
    border: 0;
}


