body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

#myButton {
    font-size: 35px;
    padding: 4px 20px;
    border-radius: 10px;
}

label {
    display: flex;
    justify-content: center;
    font-size: 40px;
}